<div id="footer_mention_legale">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Ouvrez votre compte bancaire AIB deutsch dès maintenant et bénéficiez de 90€ offerts plus une carte Visa gratuite.
            </div>
        </div>
    </div>
</div>
<footer class="section">
    <div class="footer-2 overlay1">
        <svg class="wave-dark hidden-xs hidden-sm" width="1920" height="500" viewBox="0 0 1920 500" fill="none" style="box-shadow:0 0 22px -4px rgba(0,0,0,.17);background: rgba(0, 0, 0, 0.1);">
            <path class="wave-path wave-path-1" d="M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 XMR 505.514 1188.57 XMR.314Z" fill="white"></path>
            <path class="wave-path wave-path-2" d="M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z" fill="white"></path>
            <path class="wave-path wave-path-3" d="M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 XMR 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z" fill="white"></path>
        </svg>
        <div class="container">
            <div class="row row-40">
                <div class="col-md-6 col-lg-4">
                    <h5 class="title fort">A propos de nous</h5><hr>
                    <p>AIB deutsch est une banque internationale française et un leader parmi les fournisseurs de services financiers en Europe et dans le monde.</p>
                </div>
                <div class="col-md-6 col-lg-2">
                    <h5 class="title fort">Liens utiles</h5><hr>
                    <ul class="rd-megamenu-list mt-3">
                        <li class="rd-megamenu-item rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="ouverture-de-compte/comment-souscrire/index.html">Ouvrir un compte</a></li>
                        <li class="rd-megamenu-item rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="cartes-bancaires/index.html">Cartes bancaires</a></li>
                        <li class="rd-megamenu-item rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="offres/credit/credit-personnel/index.html">Financer vos projets</a></li>
                        <li class="rd-megamenu-item rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="offres/epargne/livret-epargne/index.html">Épargner de l'argent</a></li>
                        <li class="rd-megamenu-item rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="offres/assurance/assurance-vie/index.html">Assurance vie</a></li>
                        <li class="rd-megamenu-item rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tarifs/index.html">Tarifs</a></li>
                        <li class="rd-megamenu-item rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="mentions-legales/index.html">Mentions légales</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h5 class="title fort">Nous joindre</h5><hr>
                    <ul class="contact-box mt-3">
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs">
                                <div class="unit-left"><i class="fa fa-envelope-o"></i></div>
                                <div class="unit-body"><a href="https://aibdeutsch.com/cdn-cgi/l/email-protection#94fffbfae0f5ffe0d4f5fdf6f0f1e1e0e7f7fcbaf7fbf9"><span class="__cf_email__" data-cfemail="4f2420213b2e243b0f2e262d2b2a3a3b3c2c27612c2022">[email&#160;protected]</span></a></div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs">
                                <div class="unit-left"></div>
                                <div class="unit-body">
                                    <ul>
                                        <li><a href="contact/index.html"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs">
                                <div class="unit-left"><i class="fa fa-clock-o" style="font-size:18px"></i></div>
                                <div class="unit-body">
                                    <ul>
                                        <li><a href="contact/index.html">Lundi-Vendredi : 8h-22h</a></li>
                                        <li><a href="contact/index.html">Samedi : 8h-17h</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h5 class="title fort">Newsletter</h5><hr>
                    <p>Restez au courant de nos nouvelles et des mises à jour à venir. Entrez votre adresse e-mail et abonnez-vous à notre newsletter.</p>
                    <form action="javascript:myabonne();" name="newsletter" method="post" class="rd-form form-sm">
                        <div class="form-wrap">
                            <input class="form-input form-control-has-validation" id="newsletter-email" name="mail" required="" type="email"><span class="form-validation"></span>
                            <label class="form-label rd-input-label" style="font-size:14px" for="newsletter-email">Adresse e-mail</label>
                        </div>
                        <button class="button button-xs button-primary" type="submit">S'abonner</button>
                    </form>
                    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                        var myVarabonne;

                        function myabonne() {
                            myVarabonne = setTimeout(alerte(), 10000);
                        }
                        function alerte() {
                            alert('Votre abonnement à notre newsletter a été pris en compte. Merci de nous faire confiance.');
                            document.newsletter.mail.value="";
                        }
                    </script>
                </div>
            </div>
            <p class="rights hidden-md hidden-lg"><span>©&nbsp; </span><span class="copyright-year">2021</span><span>&nbsp;</span><span>AIB deutsch, Tous droits réservés</span><span>.&nbsp;</span></p>
        </div>
    </div>
</footer>
<div class="footer-bottom hidden-lg hidden-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <p class="text-right text-gray-600"><span>©&nbsp; </span><span class="copyright-year">2020</span><span>&nbsp;</span><span style="">AIB deutsch</span>, <span>Tous droits réservés</span><span>.&nbsp;</span></p>
            </div>
        </div>
    </div>
</div>
<div class="connection visible-xs-block">
    <div style="" class="container nav-bottom-mobile">
        <ul class="nav-action">
            <li class="prospect"><a style="font-size:11px;" href="ouverture-de-compte/comment-souscrire/index.html" class="button button-xs button-">Ouvrir un compte</a></li>
            <li class="client"><a style="font-size:11px;" href="connexion/login/index.html" class="button button-xs button-primary">Mon compte</a></li>
        </ul>
    </div>
</div>

<a href="#" id="ui-to-top" class="ui-to-top hidden-xs hidden-sm"><i style="color:#fff; font-size:30px;" class="fa fa-angle-up"></i></a>