{% extends 'base.html.twig' %}

{% block title %}AIB deutsch - Une banque en ligne qui a les idées larges, fluides et rapides pour gérer votre argent.{% endblock %}
{% block description %}AIB deutsch, une banque en ligne qui a les idées larges. Fluide, rapide et mobile, avec AIB deutsch il n'a jamais été aussi simple de gérer son argent.{% endblock %}

{% block body %}
    <section class="section section-bredcrumbs overlay1" style="background-image:url('../../../assets/images/background/cce.jpg')">
        <div class="container context-dark breadcrumb-wrapper">
            <h2>Compte courant</h2>
            <p>A chacun son compte pour s'assurer d'être autonome.</p>
            <a href="../../../ouverture-de-compte/comment-souscrire/index.html" class="button button-sm button-default-outline">Ouvrir un compte</a>
            <ul class="breadcrumbs-custom">
                <li>Offres</li>
                <li class="active"><a href="#">Compte courant</a></li>
            </ul>
        </div>
    </section>
    <section class="section section-xs">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 col-xl-10">
                    <h2>À distance, mais jamais loin de vous</h2>
                    <p class="block-lg pt-2">Loin des yeux, près de votre compte : vous gérez votre
                        argent à distance, mais avec votre budget à portée de main. Des solutions
                        adaptables pour un quotidien simplifié !
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <svg class="wave-light" width="1920" height="1060" viewBox="0 0 1920 1060" fill="none">
            <path class="wave-path" d="M1270.8 218.376C1568.83 102.736 1850.63 180.948 2030.21 307.382C2032.51 308.998 2034.48 310.988 2036.1 313.28L2244.6 608.07C2253.3 620.368 2249.27 637.477 2235.62 643.849C2136.91 689.931 1934.93 754.715 1745.59 720.317C1486.28 673.211 1150.28 423.428 797.391 434.116C526.793 442.311 106.516 537.961 -92.8574 590.62C-106.447 594.21 -120.226 585.95 -123.559 572.295L-211.97 210.086C-214.872 198.199 -208.784 185.922 -197.319 181.649C-86.282 140.272 153.264 93.3374 366.435 189.479C649.935 317.339 970.87 334.757 1270.8 218.376Z" fill="#4D4468"></path>
            <path class="wave-path" d="M772.48 255.118C380.165 103.024 9.24323 206.281 -226.745 372.767C-229.039 374.385 -231.01 376.373 -232.632 378.664L-512.582 774.127C-521.29 786.427 -517.274 803.55 -503.683 810.064C-377.112 870.73 -105.683 960.41 148.442 914.284C489.263 852.422 930.89 524.399 1394.72 538.435C1753.87 549.303 2313.64 677.282 2572.46 745.98C2586.04 749.585 2599.94 741.362 2603.28 727.711L2722.96 237.787C2725.87 225.895 2719.88 213.66 2708.45 209.275C2565.44 154.399 2245.45 89.0608 1961.15 217.17C1588.53 385.08 1166.7 407.953 772.48 255.118Z" fill="#4D4468"></path>
            <path class="wave-path" d="M1447.25 805.997C1794.64 1025.39 2182.35 991.059 2453.13 870.614C2455.6 869.515 2457.81 868.064 2459.73 866.318L2833.15 525.603C2842.65 516.93 2842.3 503.238 2831.92 495.349C2724.31 413.548 2478 274.243 2215.74 273.626C1867.52 272.805 1356.87 514.147 906.52 416.969C558.455 341.862 42.8667 116.692 -194.437 2.73577C-207.328 -3.45464 -223.54 1.25043 -229.521 12.9186L-466.827 475.879C-471.469 484.935 -468.544 495.538 -459.301 501.375C-333.611 580.741 -34.896 703.74 275.402 629.247C680.162 532.076 1098.27 585.601 1447.25 805.997Z" fill="#4D4468"></path>
        </svg>
        <section class="section section-md bg-default">
            <div class="container text-center text-xl-left">
                <div class="row row-40 align-items-center wow fadeInUp row-fix justify-content-center align-items-end" style="visibility: hidden; animation-name: none;">
                    <div class="col-xl-7 col-lg-6">
                        <div class="img-video"><img class="box-shadow" src="../../../assets/images/landing.png" alt="" width="660" height="406"></div>
                    </div>
                    <div class="col-xl-5 col-lg-6 section-lg">
                        <h2>Vos comptes bancaires AIB deutsch accessibles partout.</h2>
                        <p class="">
                            Chez vous ou à l'extérieur, depuis votre smartphone, votre tablette ou votre ordinateur... votre compte AIB deutsch est toujours près de vous ! Suivi de votre budget, alerte SMS, catégorisation des dépenses... AIB deutsch a imaginé des outils simples et pratiques pour vous aider à gérer votre argent et mettre de côté pour vos projets.
                        </p>
                        <a class="button button-sm button-primary" href="../../../ouverture-de-compte/comment-souscrire/index.html">Ouvrir un compte</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="section section-xs">
        <div style="margin-bottom:60px" class="row row-fix justify-content-center text-center">
            <div class="col-md-10 col-xl-8">
                <h2 class=""><span>Comment ouvrir un compte AIB deutsch ?</span></h2>
                <p>Bénéficiez de 90€ offerts plus une carte Visa gratuite.</p>
            </div>
        </div>
        <div class="container text-center">
            <div class="row row-40 justify-content-center number-counter blurb-icon-bordered-wrap wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-note"><span class="index-counter"></span></div>
                        </div>
                        <h6 class="title" style="color:#000000"><b>Remplissez le formulaire</b></h6>
                        <p class="exeption">Simple et rapide, quelques minutes suffisent pour remplir le formulaire.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-folder"><span class="index-counter"></span></div>
                        </div>
                        <h6 class="title" style="color:#000000"><b>Transmettez votre dossier</b></h6>
                        <p class="exeption">Téléchargez vos pièces justificatives pour l'étude de dossier.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-note-2 "><span class="index-counter"></span></div>
                        </div>
                        <h6 class="title" style="color:#000000"><b>Signez votre demande</b></h6>
                        <p class="exeption">Signez votre contrat après avoir remplir le formulaire de demande.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-money-3"><span class="index-counter"></span></div>
                        </div>
                        <h6 class="title" style="color:#000000"><b>Activez votre compte</b></h6>
                        <p class="exeption">Effectuez votre premier versement et recevez votre carte
                            Visa gratuite.
                        </p>
                    </div>
                </div>
            </div>
            <a href="../../../ouverture-de-compte/comment-souscrire/index.html" class="button button-md button-primary">Ouvrir un compte</a>
        </div>
    </section>
    <section class="section section-xs fp-tarif">
        <div class="container tarif">
            <div class="block-lg text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <h2>On vous dit tout sur nos tarifs</h2>
                <p>Nos tarifs sont simples à retenir : la plupart des opérations courantes que vous effectuez depuis votre espace client sont gratuites.</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-group">
                        <table class="table-tarif">
                            <thead>
                            <tr>
                                <th><h3 style="color:#fff; font-weight:700">Cartes et services</h3></th>
                                <th>Prix (€)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Abonnement permettant de gérer ses comptes sur internet
                                    et les applications AIB deutsch.</td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td>Produit offrant des alertes sur la situation du compte par SMS </td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td>Carte de paiement internationale à débit immédiat (Visa Classic))</td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td> Carte de paiement internationale à débit différé (Visa Classic) </td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td> Carte de paiement à autorisation systématique (Carte Visa Premier) </td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td> Retrait en euros dans un DAB d'un autre établissement que AIB deutsch de la zone euro avec une carte de paiement internationale </td>
                                <td>Gratuit</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table-tarif">
                            <thead>
                            <tr>
                                <th><h3 style="color:#fff; font-weight:700">Virement</h3></th>
                                <th>Prix (€)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Virement unitaire par Internet sur le site www.bnkofengland-fr.com ou avec les applications tablette et mobile </td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td>Virement unitaire par l'intermédiaire d'un conseiller.</td>
                                <td>3,90€</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table-tarif">
                            <thead>
                            <tr>
                                <th><h3 style="color:#fff; font-weight:700">Frais de prélèvement</h3></th>
                                <th>Prix (€)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Mise en place d'une autorisation de prélèvement </td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td>Frais de prélèvement par prélèvement </td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td>Commission d'intervention </td>
                                <td>Gratuit</td>
                            </tr>
                            <tr>
                                <td> Assurance perte ou vol des moyens de paiement</td>
                                <td>26.50€ par an</td>
                            </tr>
                            <tr>
                                <td> Frais de tenue de compte </td>
                                <td>1 €</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <ul class="demand">
                    <li><a class="button button-sm button-primary" href="../../../ouverture-de-compte/comment-souscrire/index.html">Ouvrir un compte</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section-md bg-default">
        <div class="container">
            <div class="block-lg text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <h2>Profitez des avantages de votre compte</h2>
                <p>AIB deutsch vous offre plusieurs avantages dès l'ouverture de votre compte bancaire en ligne.
                    Ouvrez votre compte et profitez de l'offre de bienvenue.
                </p>
            </div>
            <div class="row row-30 row-flex">
                <div class="col-md-6 col-lg-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="blurb-boxed-3">
                        <div class=""><i style="font-size:45px;color:#463c9f;font-weight:700" class="fa fa-home"></i> </div>
                        <h6 class="title"><b>Offre de bienvenue</b></h6>
                        <p class="exeption">Profitez d'une carte Visa Gratuite et de 90€ offerts à l'ouverture de votre compte.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <div class="blurb-boxed-3">
                        <div class=""><i style="font-size:50px;color:#463c9f;font-weight:700" class="fa fa-users"></i></div>
                        <h6 class="title"><b>Assistance clientèle</b></h6>
                        <p class="exeption">Un conseiller vous est dédié pendant et après l'ouverture de votre compte.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                    <div class="blurb-boxed-3">
                        <div class=""><i style="font-size:50px;color:#463c9f;font-weight:700" class="fa fa-lock"></i></div>
                        <h6 class="title"><b>Sécurité maximale</b></h6>
                        <p class="exeption">Nos standards de cryptage vous assurent une sécurité maximale.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                    <div class="blurb-boxed-3">
                        <div class=""><i style="font-size:50px;color:#463c9f;font-weight:700" class="fa fa-bell"></i></div>
                        <h6 class="title"><b>Engagement qualité</b></h6>
                        <p class="exeption">Nous nous engageons à une prise en charge de toutes vos demandes sous 48h.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-xs bg-default">
        <div class="container">
            <div class="text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <h2>Conditions générales</h2>
                <p>Découvrez les conditions générales liées à l'ouverture d'un compte bancaire AIB deutsch.</p>
            </div>
            <div class="row row-fix justify-content-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <div class="col-xl-10">
                    <div class="row row-40">
                        <div class="col-md-6">
                            <ul class="list-terms">
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Conditions d’éligibilité</h4>
                                    <h6 class="colo">Le compte courant, pour qui ?</h6>
                                    <p style="margin-top:-2px" class=""> Toute personne physique, majeur résidant en France ou non. Agissant en tant que particulier ou en tant qu’entrepreneur individuel à titre privé.</p>
                                </li>
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Dépôt d'ouverture</h4>
                                    <p class="">Montant minimum de 1 € de dépôt initial payé par virement en provenance d’un compte à son nom ou par un autre moyen de transfert d'argent.
                                        Cette somme est disponible sur votre compte après l'ouverture effective.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-terms">
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Conditions de revenu</h4>
                                    <p class="">Même si la procédure d’ouverture d’un compte chez AIB deutsch est totalement gratuite,
                                        on doit s’assurer que vous disposez d’un moyen de rémunération pour commencer à effectuer vos transactions
                                        bancaires. Nous exigeons un minimum de revenus de 800€ (compte courant) ou 1 000€ (compte joint). Aucune obligation de domiciliation de vos revenus chez nous.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-sm">
        <div class="container">
            <div class="block-lg text-center">
                <h2 style="margin-bottom:20px" class="text-center">Questions fréquentes</h2>
                <p>Comme beaucoup de consommateurs, vous vous posez des questions. AIB deutsch vous accompagne et vous aide en répondant à toutes vos interrogations.</p>
            </div>
            <div class="tabs-custom tabs-vertical tabs-line tabs-line-1 tabs-line-responsive" id="tabs-faq">
                <div class="nav-tabs-outer">
                    <div class="stuck-navbar stuck-2 navbar" id="navba" data-navbar="{ &quot;stuck&quot;: { &quot;container&quot;: &quot;#tabs-faq&quot;, &quot;offsetRef&quot;: &quot;.rd-navbar-panel&quot;}, &quot;anchor&quot;: false }">
                        <div class="navbar-inner">
                            <button class="tabs-line-toggle" id="toggle" data-multitoggle="#tabs-faq-nav" data-scope="#toggle">Menu FAQ<span style="color:#fff">.</span><span style="font-size:10px" class="fa fa-chevron-down"></span></button>
                            <ul class="nav nav-tabs" id="tabs-faq-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-faq-1" data-toggle="tab"><span class="faqi">Compte bancaire</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-2" data-toggle="tab"><span class="faqi">Emprunt</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-3" data-toggle="tab"><span class="faqi">Épargne</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-4" data-toggle="tab"><span class="faqi">Assurance</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-5" data-toggle="tab"><span class="faqi">Carte Visa</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-faq-1">
                        <div class="card-group-custom card-group-classic" id="accordion1" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-5" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion1-collapse-5" aria-controls="accordion1-collapse-5" aria-expanded="true"> Quelles sont les conditions pour ouvrir un compte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion1-collapse-5" role="tabpanel" aria-labelledby="accordion1-heading-5" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p> L'ouverture d'un compte est sous réserve d'acceptation par AIB deutsch.
                                            Vous devez également remplir les conditions d'éligibilité minimum suivantes :</br>
                                            </br> - être une personne physique, résidant en France ou non, majeur capable ;
                                            </br> - ouvrir un compte en tant que particulier ;
                                            </br> - justifier d’un minimum de revenus de 800€ mensuels pour l'ouverture d'un compte courant.
                                            </br> - justifier d'un minimum de revenus de 1000€ mensuels pour l'ouverture d'un compte joint.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion1-collapse-2" aria-controls="accordion1-collapse-2" aria-expanded="false">L’ouverture de compte est-elle payante ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion1-collapse-2" role="tabpanel" aria-labelledby="accordion1-heading-2" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p>Chez AIB deutsch l'ouverture de compte bancaire en ligne est gratuite.
                                            Et tous les services essentiels de la banque au quotidien aussi.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-3" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion1-collapse-3" aria-controls="accordion1-collapse-3" aria-expanded="false"> Quand et comment vais-je recevoir ma carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion1-collapse-3" role="tabpanel" aria-labelledby="accordion1-heading-3" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p>Vous recevrez votre carte bancaire par courrier recommandé quelques jours après l'ouverture
                                            effective de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-2">
                        <div class="card-group-custom card-group-classic" id="accordion2" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-7" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion2-collapse-7" aria-controls="accordion2-collapse-7" aria-expanded="true">Quels sont les crédits à la consommation proposés ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion2-collapse-7" role="tabpanel" aria-labelledby="accordion2-heading-7" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p> AIB deutsch propose plusieurs crédits à la consommation en ligne :</br>
                                            </br>
                                            - le prêt personnel : celui-ci permet le financement de projets divers comme un voyage, un mariage, du matériel high-tech, etc.
                                            </br>
                                            - le Crédit Travaux : celui-ci est un crédit adapté à vos projets habitation (travaux, déco, aménagement...)
                                            </br>
                                            - le Crédit Auto : celui-ci permet le financement des véhicules suivants : 2 roues, voiture neuve, d'occasion ou écologique</br>
                                            Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-5" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion2-collapse-5" aria-controls="accordion2-collapse-5" aria-expanded="false">Quels sont les frais de dossier pour mon prêt personnel ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion2-collapse-5" role="tabpanel" aria-labelledby="accordion2-heading-5" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p>Chez AIB deutsch, pas de frais de dossier !</p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-3" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion2-collapse-3" aria-controls="accordion2-collapse-3" aria-expanded="false">Comment se déroule le remboursement de mon prêt personnel ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion2-collapse-3" role="tabpanel" aria-labelledby="accordion2-heading-3" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p> Les mensualités sont prélevées directement sur votre compte courant.
                                            Vous pouvez choisir le quantième c'est-à-dire la date à laquelle vous souhaitez rembourser mensuellement votre crédit.
                                            Par la suite et à tout moment, vous pouvez modifier le quantième en le demandant par courrier à AIB deutsch
                                            Avec le prêt à la consommation, selon votre situation financière, vous avez la possibilité de :</br>
                                            - suspendre vos mensualités pendant un certain temps,</br>
                                            - modifier le montant de vos remboursements,</br>
                                            - rembourser votre prêt à la consommation de manière anticipée.</br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-3">
                        <div class="card-group-custom card-group-classic" id="accordion3" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-6" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion3-collapse-6" aria-controls="accordion3-collapse-6" aria-expanded="true"> Mon épargne est-elle disponible à tout moment ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion3-collapse-6" role="tabpanel" aria-labelledby="accordion3-heading-6" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Oui, votre épargne est disponible quand vous le souhaitez.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion3-collapse-1" aria-controls="accordion3-collapse-1" aria-expanded="false">Quels sont les taux d'intérêt des livrets d'épargne ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion3-collapse-1" role="tabpanel" aria-labelledby="accordion3-heading-1" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>AIB deutsch vous propose un ensemble de solutions d'épargne personnalisées. Retrouvez toute notre gamme
                                            ainsi que les taux de rémunération.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-7" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion3-collapse-7" aria-controls="accordion3-collapse-7" aria-expanded="false"> Comment transférer un compte épargne vers AIB deutsch ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion3-collapse-7" role="tabpanel" aria-labelledby="accordion3-heading-7" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Vous avez la possibilité de transférer les comptes épargnes suivants : Plan Epargne Logement,
                                            Compte Epargne Logement, lignes de titres de Compte d'Instruments Financier et Plan Epargne Action.
                                            Il suffit de prévenir votre banque !
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-4">
                        <div class="card-group-custom card-group-classic" id="accordion4" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion4-collapse-2" aria-controls="accordion4-collapse-2" aria-expanded="true">Que proposez-vous comme assurance ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion4-collapse-2" role="tabpanel" aria-labelledby="accordion4-heading-2" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p> Vous avez accès à toute l'offre de AIB deutsch en matière d'assurance :
                                            Assurance vie, Assurance auto, Assurance habitation.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-4" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion4-collapse-4" aria-controls="accordion4-collapse-4" aria-expanded="false"> Protégez-vous ma famille et moi-même contre les accidents de la vie ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion4-collapse-4" role="tabpanel" aria-labelledby="accordion4-heading-4" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>Vous vous êtes brulé, vous avez fait une chute à vélo... AIB deutsch vous aide à faire face
                                            aux aléas de la vie en vous proposant Protection Accidents de la vie.
                                            Ainsi, vous êtes couvert en cas d'accident de la vie courante. Hospitalisation, invalidité permanente,
                                            décès suite à un accident, un capital est versé à l'assuré ou à un bénéficiaire désigné.
                                            La souscription est simple, sans formalité médicale et la prise en compte est immédiate !
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion4-collapse-1" aria-controls="accordion4-collapse-1" aria-expanded="false">Comment dois-je procéder pour souscrire à Protection Accidents de la Vie ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion4-collapse-1" role="tabpanel" aria-labelledby="accordion4-heading-1" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>Nous vous proposons d'être contacté par un spécialiste afin de
                                            choisir la formule et les options les mieux adaptées à vos besoins.
                                            Retrouvez le formulaire de rappel une fois connecté à votre espace client,
                                            dans la rubrique « Assurance ».
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-5">
                        <div class="card-group-custom card-group-classic" id="accordion4" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion5-collapse-2" aria-controls="accordion5-collapse-2" aria-expanded="true">Comment faire pour changer de carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion5-collapse-2" role="tabpanel" aria-labelledby="accordion5-heading-2" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p> C'est simple, si vous souhaitez passer d'une carte à une autre, il suffit de nous fournir un nouveau justificatif de revenu
                                            via votre messagerie sous réserve des conditions d'éligibilité.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-4" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion5-collapse-4" aria-controls="accordion5-collapse-4" aria-expanded="false">Comment obtenir mon code secret de carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion5-collapse-4" role="tabpanel" aria-labelledby="accordion5-heading-4" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p>Le code secret de votre carte bancaire vous sera envoyé par courrier. Vous le recevrez dans un pli séparé de la carte bancaire
                                            dans un délai de quelques jours après l'ouverture de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion5-collapse-1" aria-controls="accordion5-collapse-1" aria-expanded="false"> Quand et comment vais-je recevoir ma carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion5-collapse-1" role="tabpanel" aria-labelledby="accordion5-heading-1" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p>Vous recevrez votre carte bancaire par courrier recommandé quelques jours après l'ouverture
                                            effective de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
