{% extends 'base.html.twig' %}

{% block title %}AIB deutsch - Une banque en ligne qui a les idées larges, fluides et rapides pour gérer votre argent.{% endblock %}
{% block description %}AIB deutsch, une banque en ligne qui a les idées larges. Fluide, rapide et mobile, avec AIB deutsch il n'a jamais été aussi simple de gérer son argent.{% endblock %}

{% block body %}
    <section class="section section-bredcrumbs overlay1" style="background-image:url('../assets/images/background/cbn.jpg')">
        <div class="container context-dark breadcrumb-wrapper">
            <h2>Cartes bancaires</h2>
            <p>Profitez pleinement de votre carte et des avantages.</p>
            <a href="../ouverture-de-compte/comment-souscrire/index.html" class="button button-sm button-default-outline">Ouvrir un compte</a>
            <ul class="breadcrumbs-custom">
                <li><a href="../index.html">Acceuil</a></li>
                <li class="active"><a href="#">Cartes bancaires</a></li>
            </ul>
        </div>
    </section>
    <section style="margin-bottom:30px" class="section section-xs block-promo alt">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-12 col-xl-10">
                    <h2>Bénéficiez des cartes bancaires</h2>
                    <p class="block-lg pt-2">Visa Classic, Visa Premier, Visa Infinite : découvrez celle qui vous conviendra le mieux selon vos besoins.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-gray-700">
        <div class="container text-center">
            <div class="owl-carousel" data-items="1" data-sm-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
                <div class="price-box-2">
                    <div class="media-wrap all">
                        <ul class="list-cartes">
                            <li>
                                <a href="../ouverture-de-compte/comment-souscrire/index.html" title="Carte Visa Classic">
                                    <img src="../assets/images/card/V1759.gif">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="title">Visa Classic</div>
                    <div class="heading-3 price">0€/an</div>
                    <ul class="list-sm">
                        <li>Pratique, gratuite et idéale pour</li>
                        <li>les paiements du quotidien.</li>
                    </ul>
                    <a class="button button-sm button-primary" href="../ouverture-de-compte/comment-souscrire/index.html">Demander</a>
                </div>
                <div class="price-box-2">
                    <div class="media-wrap all">
                        <ul class="list-cartes">
                            <li>
                                <a href="../ouverture-de-compte/comment-souscrire/index.html" title="Carte Visa Premier">
                                    <img src="../assets/images/card/V1758.gif">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="title">Visa Premier</div>
                    <div class="heading-3 price">0€/an</div>
                    <ul class="list-sm">
                        <li>Tous les avantages d’une carte</li>
                        <li>bancaire haut de gamme.</li>
                    </ul>
                    <a class="button button-sm button-primary" href="../ouverture-de-compte/comment-souscrire/index.html">Demander</a>
                </div>
                <div class="price-box-2">
                    <div class="media-wrap all">
                        <ul class="list-cartes">
                            <li>
                                <a href="../ouverture-de-compte/comment-souscrire/index.html" title="Carte VIsa Infinite">
                                    <img src="../assets/images/card/V1757.gif" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="title">Visa Infinite</div>
                    <div class="heading-3 price">240€/an</div>
                    <ul class="list-sm">
                        <li>Vers l’infini… et au-delà grâce</li>
                        <li>à ses prestations exclusives.</li>
                    </ul>
                    <a class="button button-sm button-primary" href="../ouverture-de-compte/comment-souscrire/index.html">Demander</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-sm">
        <div class="container text-center">
            <div style="margin-bottom:50px" class="row row-fix justify-content-center text-center">
                <div class="col-md-10 col-xl-8">
                    <h2 class=""><span>Comment obtenir une carte ?</span></h2>
                    <p>Pour obtenir une carte bancaire AIB deutsch, vous devez au préalable ouvrir un compte courant AIB deutsch.
                        Il est gratuit, et sa carte bancaire aussi.
                    </p>
                </div>
            </div>
            <div class="row row-40 justify-content-center number-counter blurb-icon-bordered-wrap wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-note"><span class="index-counter"></span></div>
                        </div>
                        <h6 class="title" style="color:#000000"><b>Remplissez le formulaire</b></h6>
                        <p class="exeption">Simple et rapide, quelques minutes suffisent pour remplir le formulaire.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-folder"><span class="index-counter"></span></div>
                        </div>
                        <h6 class="title" style="color:#000000"><b>Transmettez votre dossier</b></h6>
                        <p class="exeption">Téléchargez vos pièces justificatives pour l'étude de dossier.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-note-2 "><span class="index-counter"></span></div>
                        </div>
                        <h6 class="title" style="color:#000000"><b>Signez votre demande</b></h6>
                        <p class="exeption">Signez votre contrat après avoir remplir le formulaire de demande.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-money-3"><span class="index-counter"></span></div>
                        </div>
                        <h6 class="title" style="color:#000000"><b>Activez votre compte</b></h6>
                        <p class="exeption">Effectuez votre premier versement et recevez votre carte
                            Visa gratuite.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-xs bg-default">
        <div class="container">
            <div class="text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <h2>Services et avantages</h2>
                <p>Découvrez les services et avantages liés aux cartes bancaires AIB deutsch.</p>
            </div>
            <div class="row row-fix justify-content-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <div class="col-xl-10">
                    <div class="row row-40">
                        <div class="col-md-6">
                            <ul class="list-terms">
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Retrait</h4>
                                    <ul>
                                        <li class="colo">En zone euro : gratuit</li>
                                        <li>Retraits dans les banques partenaires partout dans le monde : gratuits</li>
                                    </ul>
                                    <p class="padding-t-1"> <span class="colo">Retrait à l’étranger</span> <br />
                                        Hors zone euro, vous pourrez également retirer sans frais chez nos banques partenaires,
                                        présentes dans une cinquantaine de pays.
                                    </p>
                                </li>
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Conditions de revenu</h4>
                                    <p> Pour obtenir une carte Visa AIB deutsch, vous devez justifier d'un minimum de revenus de 800€ mensuels. </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-terms">
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Paiement</h4>
                                    <p> <span class="colo">Sans contact</span> <br />
                                        Grâce au paiement sans contact, vos achats du quotidien n’ont jamais été
                                        aussi rapides ! Le montant est inférieur à 30 euros ? Plus besoin de saisir votre code confidentiel,
                                        vous n’avez qu’à apposer votre carte sur le terminal de paiement compatible durant quelques secondes.
                                    </p>
                                    <p class="padding-t-1"> <span class="colo">En ligne sécurisé </span><br />
                                        Effectuez vos achats en ligne l’esprit tranquille
                                        avec le système de sécurisation gratuit « Verified by Visa ». C’est simple ! Pour valider une transaction,
                                        un code vous est envoyé par SMS. Vous voilà protégé à tout moment contre l’utilisation frauduleuse de votre
                                        carte bancaire.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-sm">
        <div class="container">
            <div class="block-lg text-center">
                <h2 style="margin-bottom:20px" class="text-center">Questions fréquentes</h2>
                <p>Comme beaucoup de consommateurs, vous vous posez des questions. AIB deutsch vous accompagne et vous aide en répondant à toutes vos interrogations.</p>
            </div>
            <div class="tabs-custom tabs-vertical tabs-line tabs-line-1 tabs-line-responsive" id="tabs-faq">
                <div class="nav-tabs-outer">
                    <div class="stuck-navbar stuck-2 navbar" id="navba" data-navbar="{ &quot;stuck&quot;: { &quot;container&quot;: &quot;#tabs-faq&quot;, &quot;offsetRef&quot;: &quot;.rd-navbar-panel&quot;}, &quot;anchor&quot;: false }">
                        <div class="navbar-inner">
                            <button class="tabs-line-toggle" id="toggle" data-multitoggle="#tabs-faq-nav" data-scope="#toggle">Menu FAQ<span style="color:#fff">.</span><span style="font-size:10px" class="fa fa-chevron-down"></span></button>
                            <ul class="nav nav-tabs" id="tabs-faq-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-1" data-toggle="tab"><span class="faqi">Compte bancaire</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-2" data-toggle="tab"><span class="faqi">Emprunt</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-3" data-toggle="tab"><span class="faqi">Épargne</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-4" data-toggle="tab"><span class="faqi">Assurance</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-faq-5" data-toggle="tab"><span class="faqi">Carte Visa</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade" id="tabs-faq-1">
                        <div class="card-group-custom card-group-classic" id="accordion1" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-5" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion1-collapse-5" aria-controls="accordion1-collapse-5" aria-expanded="true"> Quelles sont les conditions pour ouvrir un compte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion1-collapse-5" role="tabpanel" aria-labelledby="accordion1-heading-5" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p> L'ouverture d'un compte est sous réserve d'acceptation par AIB deutsch.
                                            Vous devez également remplir les conditions d'éligibilité minimum suivantes :</br>
                                            </br> - être une personne physique, résidant en France ou non, majeur capable ;
                                            </br> - ouvrir un compte en tant que particulier ;
                                            </br> - justifier d’un minimum de revenus de 800€ mensuels pour l'ouverture d'un compte courant.
                                            </br> - justifier d'un minimum de revenus de 1000€ mensuels pour l'ouverture d'un compte joint.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion1-collapse-2" aria-controls="accordion1-collapse-2" aria-expanded="false">L’ouverture de compte est-elle payante ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion1-collapse-2" role="tabpanel" aria-labelledby="accordion1-heading-2" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p>Chez AIB deutsch l'ouverture de compte bancaire en ligne est gratuite.
                                            Et tous les services essentiels de la banque au quotidien aussi.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-3" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion1-collapse-3" aria-controls="accordion1-collapse-3" aria-expanded="false"> Quand et comment vais-je recevoir ma carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion1-collapse-3" role="tabpanel" aria-labelledby="accordion1-heading-3" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p>Vous recevrez votre carte bancaire par courrier recommandé quelques jours après l'ouverture
                                            effective de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-2">
                        <div class="card-group-custom card-group-classic" id="accordion2" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-7" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion2-collapse-7" aria-controls="accordion2-collapse-7" aria-expanded="true">Quels sont les crédits à la consommation proposés ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion2-collapse-7" role="tabpanel" aria-labelledby="accordion2-heading-7" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p> AIB deutsch propose plusieurs crédits à la consommation en ligne :</br>
                                            </br>
                                            - le prêt personnel : celui-ci permet le financement de projets divers comme un voyage, un mariage, du matériel high-tech, etc.
                                            </br>
                                            - le Crédit Travaux : celui-ci est un crédit adapté à vos projets habitation (travaux, déco, aménagement...)
                                            </br>
                                            - le Crédit Auto : celui-ci permet le financement des véhicules suivants : 2 roues, voiture neuve, d'occasion ou écologique</br>
                                            Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-5" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion2-collapse-5" aria-controls="accordion2-collapse-5" aria-expanded="false">Quels sont les frais de dossier pour mon prêt personnel ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion2-collapse-5" role="tabpanel" aria-labelledby="accordion2-heading-5" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p>Chez AIB deutsch, pas de frais de dossier !</p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-3" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion2-collapse-3" aria-controls="accordion2-collapse-3" aria-expanded="false">Comment se déroule le remboursement de mon prêt personnel ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion2-collapse-3" role="tabpanel" aria-labelledby="accordion2-heading-3" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p> Les mensualités sont prélevées directement sur votre compte courant.
                                            Vous pouvez choisir le quantième c'est-à-dire la date à laquelle vous souhaitez rembourser mensuellement votre crédit.
                                            Par la suite et à tout moment, vous pouvez modifier le quantième en le demandant par courrier à AIB deutsch
                                            Avec le prêt à la consommation, selon votre situation financière, vous avez la possibilité de :</br>
                                            - suspendre vos mensualités pendant un certain temps,</br>
                                            - modifier le montant de vos remboursements,</br>
                                            - rembourser votre prêt à la consommation de manière anticipée.</br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-3">
                        <div class="card-group-custom card-group-classic" id="accordion3" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-6" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion3-collapse-6" aria-controls="accordion3-collapse-6" aria-expanded="true"> Mon épargne est-elle disponible à tout moment ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion3-collapse-6" role="tabpanel" aria-labelledby="accordion3-heading-6" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Oui, votre épargne est disponible quand vous le souhaitez.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion3-collapse-1" aria-controls="accordion3-collapse-1" aria-expanded="false">Quels sont les taux d'intérêt des livrets d'épargne ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion3-collapse-1" role="tabpanel" aria-labelledby="accordion3-heading-1" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>AIB deutsch vous propose un ensemble de solutions d'épargne personnalisées. Retrouvez toute notre gamme
                                            ainsi que les taux de rémunération.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-7" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion3-collapse-7" aria-controls="accordion3-collapse-7" aria-expanded="false"> Comment transférer un compte épargne vers AIB deutsch ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion3-collapse-7" role="tabpanel" aria-labelledby="accordion3-heading-7" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Vous avez la possibilité de transférer les comptes épargnes suivants : Plan Epargne Logement,
                                            Compte Epargne Logement, lignes de titres de Compte d'Instruments Financier et Plan Epargne Action.
                                            Il suffit de prévenir votre banque !
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-4">
                        <div class="card-group-custom card-group-classic" id="accordion4" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion4-collapse-2" aria-controls="accordion4-collapse-2" aria-expanded="true">Que proposez-vous comme assurance ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion4-collapse-2" role="tabpanel" aria-labelledby="accordion4-heading-2" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p> Vous avez accès à toute l'offre de AIB deutsch en matière d'assurance :
                                            Assurance vie, Assurance auto, Assurance habitation.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-4" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion4-collapse-4" aria-controls="accordion4-collapse-4" aria-expanded="false"> Protégez-vous ma famille et moi-même contre les accidents de la vie ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion4-collapse-4" role="tabpanel" aria-labelledby="accordion4-heading-4" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>Vous vous êtes brulé, vous avez fait une chute à vélo... AIB deutsch vous aide à faire face
                                            aux aléas de la vie en vous proposant Protection Accidents de la vie.
                                            Ainsi, vous êtes couvert en cas d'accident de la vie courante. Hospitalisation, invalidité permanente,
                                            décès suite à un accident, un capital est versé à l'assuré ou à un bénéficiaire désigné.
                                            La souscription est simple, sans formalité médicale et la prise en compte est immédiate !
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion4-collapse-1" aria-controls="accordion4-collapse-1" aria-expanded="false">Comment dois-je procéder pour souscrire à Protection Accidents de la Vie ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion4-collapse-1" role="tabpanel" aria-labelledby="accordion4-heading-1" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>Nous vous proposons d'être contacté par un spécialiste afin de
                                            choisir la formule et les options les mieux adaptées à vos besoins.
                                            Retrouvez le formulaire de rappel une fois connecté à votre espace client,
                                            dans la rubrique « Assurance ».
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="tabs-faq-5">
                        <div class="card-group-custom card-group-classic" id="accordion4" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion5-collapse-2" aria-controls="accordion5-collapse-2" aria-expanded="true">Comment faire pour changer de carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion5-collapse-2" role="tabpanel" aria-labelledby="accordion5-heading-2" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p> C'est simple, si vous souhaitez passer d'une carte à une autre, il suffit de nous fournir un nouveau justificatif de revenu
                                            via votre messagerie sous réserve des conditions d'éligibilité.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-4" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion5-collapse-4" aria-controls="accordion5-collapse-4" aria-expanded="false">Comment obtenir mon code secret de carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion5-collapse-4" role="tabpanel" aria-labelledby="accordion5-heading-4" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p>Le code secret de votre carte bancaire vous sera envoyé par courrier. Vous le recevrez dans un pli séparé de la carte bancaire
                                            dans un délai de quelques jours après l'ouverture de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion5-collapse-1" aria-controls="accordion5-collapse-1" aria-expanded="false"> Quand et comment vais-je recevoir ma carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion5-collapse-1" role="tabpanel" aria-labelledby="accordion5-heading-1" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p>Vous recevrez votre carte bancaire par courrier recommandé quelques jours après l'ouverture
                                            effective de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
