{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}

<section class="hero-section py-3 py-md-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3">Bienvenue sur Bunafinco</h1>
				    <div class="site-tagline mb-4">
                                        Merci de vous avoir connecté à notre banque en ligne ,
                                        actuellement votre compte n'est pas encore activé veuillez
                                        patienter .
                    </div>
			    </div>
			    <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="portal/assets/images/confirm.svg" alt="">
			    </div>
		    </div><!--//row-->
	    </div>
    </section><!--//hero-section-->





{% endblock %}
