{% extends 'base.html.twig' %}

{% block title %}AIB deutsch - Une banque en ligne qui a les idées larges, fluides et rapides pour gérer votre argent.{% endblock %}
{% block description %}AIB deutsch, une banque en ligne qui a les idées larges. Fluide, rapide et mobile, avec AIB deutsch il n'a jamais été aussi simple de gérer son argent.{% endblock %}


{% block body %}
    <section class="section section-bredcrumbs overlay1" style="background-image:url('../../../assets/images/background/avie.jpg')">
        <div class="container context-dark breadcrumb-wrapper">
            <h2>Assurance vie</h2>
            <p>L'assurance pour l'avenir de votre famille et celui de vos proches.</p>
            <a href="../../../ouverture-de-compte/comment-souscrire/index.html" class="button button-sm button-default-outline">Ouvrir un compte</a>
            <ul class="breadcrumbs-custom">
                <li>Offres</li>
                <li class="active"><a href="#">Assurance vie</a></li>
            </ul>
        </div>
    </section>
    <section style="margin-bottom:-30px" class="section section-xs">
        <div class="container text-center text-xl-left wow fadeIn" style="visibility: hidden; animation-name: none;">
            <div class="row row-fix justify-content-center align-items-end">
                <div class="posi col-md-10 col-xl-6 hidden-xs hidden-sm">
                    <img class="" src="../../../assets/images/proteg.jpg" alt="">
                </div>
                <style>
                    .posi img{
                        width:60%;
                        margin-top:-400px;
                    }
                    @media (min-width:992px)and (max-width:1199px){
                        .posi img{
                            width:30%;
                            height:500%;
                            margin-top:0px;

                        }
                    }

                </style>
                <div class="col-md-10 col-xl-6">
                    <div class="section-lg">
                        <h2>Protégez vos proches</h2>
                        <p class="text-gray-600">En cas de décès de l’adhérent, le capital décès est versé au(x) bénéficiaire(s).
                            Ce capital peut être majoré par la garantie décès complémentaire, gratuite. Cette garantie ne
                            s’applique que si le capital décès est inférieur aux versements nets de frais et de rachats.
                        </p>
                        <a class="button button-sm button-primary" href="../../../ouverture-de-compte/comment-souscrire/index.html">Ouvrir un compte</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-md">
        <div class="container text-center">
            <div style="margin-bottom:50px" class="row row-fix justify-content-center text-center">
                <div class="col-md-10 col-xl-8">
                    <h2 class=""><span>Envie de profiter de tous ces avantages ?</span></h2>
                    <p>Pour profiter de votre assurance vie, vous devez au préalable ouvrir un compte courant AIB deutsch.
                        Il est gratuit, et sa carte bancaire aussi.
                    </p>
                </div>
            </div>
            <div class="row row-40 justify-content-center number-counter blurb-icon-bordered-wrap">
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-card"><span class="index-counter"></span></div>
                        </div>
                        <h5 class="title"><b>Ouvrez votre compte courant AIB deutsch</b></h5>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-note"><span class="index-counter"></span></div>
                        </div>
                        <h5 class="title"><b>Faites votre demande d’assurance vie </b></h5>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-time-back "><span class="index-counter"></span></div>
                        </div>
                        <h5 class="title"><b>Un expert vous apporte une réponse sous 48h</b></h5>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="blurb-icon-bordered">
                        <div class="icon-wrap">
                            <div class="icon mercury-icon-partners"><span class="index-counter"></span></div>
                        </div>
                        <h5 class="title"><b>Profitez de votre assurance vie AIB deutsch</b></h5>
                    </div>
                </div>
            </div>
            <a href="../../../ouverture-de-compte/comment-souscrire/index.html" class="button button-md button-primary">Ouvrir un compte</a>
        </div>
    </section>
    <section class="section section-md bg-default">
        <div class="container">
            <div class="block-lg text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <h2>Profitez des avantages de votre compte</h2>
                <p>AIB deutsch vous offre plusieurs avantages dès l'ouverture de votre compte bancaire en ligne.
                    Ouvrez votre compte et profitez de l'offre de bienvenue.
                </p>
            </div>
            <div class="row row-30 row-flex">
                <div class="col-md-6 col-lg-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="blurb-boxed-3">
                        <div class=""><i style="font-size:45px;color:#463c9f" ;font-weight:700" class="fa fa-home"></i> </div>
                        <h6 class="title"><b>Offre de bienvenue</b></h6>
                        <p class="exeption">Profitez d'une carte Visa Gratuite et de 90€ offerts à l'ouverture de votre compte.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <div class="blurb-boxed-3">
                        <div class=""><i style="font-size:50px;color:#463c9f" ;font-weight:700" class="fa fa-users"></i></div>
                        <h6 class="title"><b>Assistance clientèle</b></h6>
                        <p class="exeption">Un conseiller vous est dédié pendant et après l'ouverture de votre compte.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                    <div class="blurb-boxed-3">
                        <div class=""><i style="font-size:50px;color:#463c9f" ;font-weight:700" class="fa fa-lock"></i></div>
                        <h6 class="title"><b>Sécurité maximale</b></h6>
                        <p class="exeption">Nos standards de cryptage vous assurent une sécurité maximale.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                    <div class="blurb-boxed-3">
                        <div class=""><i style="font-size:50px;color:#463c9f" ;font-weight:700" class="fa fa-bell"></i></div>
                        <h6 class="title"><b>Engagement qualité</b></h6>
                        <p class="exeption">Nous nous engageons à une prise en charge de toutes vos demandes sous 48h.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="conditions" class="section section-xs bg-default">
        <div class="container">
            <div class="text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <h2>Conditions générales</h2>
                <p>Découvrez les conditions générales liées à l'assurance chez AIB deutsch.</p>
            </div>
            <div class="row row-fix justify-content-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <div class="col-xl-10">
                    <div class="row row-40">
                        <div class="col-md-6">
                            <ul class="list-terms">
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Conditions d’éligibilité</h4>
                                    <h6 class="colo">L'assurance vie, pour qui ?</h6>
                                    <p style="margin-top:-2px" class="">L’assurance vie peut être souscrite par toute personne physique majeure
                                        résidant en France ou non et juridiquement capable.
                                    </p>
                                    <h6 class="colo">Et comment ?</h6>
                                    <p style="margin-top:-2px" class="">Pour profiter de votre assurance vie vous devez ouvrir un
                                        compte courant ou joint AIB deutsch. Il est gratuit, et sa carte bancaire aussi.
                                    </p>
                                </li>
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Garantie</h4>
                                    <p style="margin-top:-2px" class="">Dès votre adhésion, vous bénéficiez automatiquement et sans frais supplémentaires
                                        de la Garantie décès complémentaire. Le capital décès complémentaire est versé dans l’hypothèse où le capital
                                        décès est inférieur aux versements nets de frais et de rachats, il est alors égal aux montants des versements
                                        nets de frais et de rachat diminués du capital décès.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-terms">
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Fiscalité</h4>
                                    <h6 class="colo">En cas de décès</h6>
                                    <p style="margin-top:-2px" class="">Vous disposez d'un excellent outil de transmission de votre
                                        patrimoine en cas de décès. Les capitaux décès bénéficient d'une totale franchise d'impôt
                                        lorsque le bénéficiaire du contrat est le conjoint ou un partenaire lié par un PACS.
                                    </p>
                                    <h6 class="colo">En cas de rente viagère à titre onéreux</h6>
                                    <p style="margin-top:-2px" class="">Au moment de la sortie en rente viagère à titre onéreux,
                                        les produits acquis avant la transformation en rente sont exonérés d’impôt sur le revenu,
                                        mais soumis aux prélèvements sociaux au taux de 15,50%.
                                    </p>
                                </li>
                                <li class="list-terms-item">
                                    <h4 class="list-terms-title">Rétractation</h4>
                                    <p style="margin-top:-2px" class="">Vous disposez d’un délai de rétractation de 30 jours calendaires
                                        révolus à compter de la date de conclusion du contrat.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-sm">
        <div class="container">
            <div class="block-lg text-center">
                <h2 style="margin-bottom:20px" class="text-center">Questions fréquentes</h2>
                <p>Comme beaucoup de consommateurs, vous vous posez des questions. AIB deutsch vous accompagne et vous aide en répondant à toutes vos interrogations.</p>
            </div>
            <div class="tabs-custom tabs-vertical tabs-line tabs-line-1 tabs-line-responsive" id="tabs-faq">
                <div class="nav-tabs-outer">
                    <div class="stuck-navbar stuck-2 navbar" id="navba" data-navbar="{ &quot;stuck&quot;: { &quot;container&quot;: &quot;#tabs-faq&quot;, &quot;offsetRef&quot;: &quot;.rd-navbar-panel&quot;}, &quot;anchor&quot;: false }">
                        <div class="navbar-inner">
                            <button class="tabs-line-toggle" id="toggle" data-multitoggle="#tabs-faq-nav" data-scope="#toggle">Menu FAQ<span style="color:#fff">.</span><span style="font-size:10px" class="fa fa-chevron-down"></span></button>
                            <ul class="nav nav-tabs" id="tabs-faq-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-1" data-toggle="tab"><span class="faqi">Compte bancaire</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-2" data-toggle="tab"><span class="faqi">Emprunt</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-3" data-toggle="tab"><span class="faqi">Épargne</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-faq-4" data-toggle="tab"><span class="faqi">Assurance</span></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-faq-5" data-toggle="tab"><span class="faqi">Carte Visa</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade" id="tabs-faq-1">
                        <div class="card-group-custom card-group-classic" id="accordion1" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-5" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion1-collapse-5" aria-controls="accordion1-collapse-5" aria-expanded="true"> Quelles sont les conditions pour ouvrir un compte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion1-collapse-5" role="tabpanel" aria-labelledby="accordion1-heading-5" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p> L'ouverture d'un compte est sous réserve d'acceptation par AIB deutsch.
                                            Vous devez également remplir les conditions d'éligibilité minimum suivantes :</br>
                                            </br> - être une personne physique, résidant en France ou non, majeur capable ;
                                            </br> - ouvrir un compte en tant que particulier ;
                                            </br> - justifier d’un minimum de revenus de 800€ mensuels pour l'ouverture d'un compte courant.
                                            </br> - justifier d'un minimum de revenus de 1000€ mensuels pour l'ouverture d'un compte joint.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion1-collapse-2" aria-controls="accordion1-collapse-2" aria-expanded="false">L’ouverture de compte est-elle payante ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion1-collapse-2" role="tabpanel" aria-labelledby="accordion1-heading-2" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p>Chez AIB deutsch l'ouverture de compte bancaire en ligne est gratuite.
                                            Et tous les services essentiels de la banque au quotidien aussi.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion1-heading-3" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion1-collapse-3" aria-controls="accordion1-collapse-3" aria-expanded="false"> Quand et comment vais-je recevoir ma carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion1-collapse-3" role="tabpanel" aria-labelledby="accordion1-heading-3" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p>Vous recevrez votre carte bancaire par courrier recommandé quelques jours après l'ouverture
                                            effective de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-2">
                        <div class="card-group-custom card-group-classic" id="accordion2" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-7" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion2-collapse-7" aria-controls="accordion2-collapse-7" aria-expanded="true">Quels sont les crédits à la consommation proposés ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion2-collapse-7" role="tabpanel" aria-labelledby="accordion2-heading-7" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p> AIB deutsch propose plusieurs crédits à la consommation en ligne :</br>
                                            </br>
                                            - le prêt personnel : celui-ci permet le financement de projets divers comme un voyage, un mariage, du matériel high-tech, etc.
                                            </br>
                                            - le Crédit Travaux : celui-ci est un crédit adapté à vos projets habitation (travaux, déco, aménagement...)
                                            </br>
                                            - le Crédit Auto : celui-ci permet le financement des véhicules suivants : 2 roues, voiture neuve, d'occasion ou écologique</br>
                                            Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-5" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion2-collapse-5" aria-controls="accordion2-collapse-5" aria-expanded="false">Quels sont les frais de dossier pour mon prêt personnel ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion2-collapse-5" role="tabpanel" aria-labelledby="accordion2-heading-5" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p>Chez AIB deutsch, pas de frais de dossier !</p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion2-heading-3" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion2-collapse-3" aria-controls="accordion2-collapse-3" aria-expanded="false">Comment se déroule le remboursement de mon prêt personnel ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion2-collapse-3" role="tabpanel" aria-labelledby="accordion2-heading-3" data-parent="#accordion2">
                                    <div class="card-body">
                                        <p> Les mensualités sont prélevées directement sur votre compte courant.
                                            Vous pouvez choisir le quantième c'est-à-dire la date à laquelle vous souhaitez rembourser mensuellement votre crédit.
                                            Par la suite et à tout moment, vous pouvez modifier le quantième en le demandant par courrier à AIB deutsch
                                            Avec le prêt à la consommation, selon votre situation financière, vous avez la possibilité de :</br>
                                            - suspendre vos mensualités pendant un certain temps,</br>
                                            - modifier le montant de vos remboursements,</br>
                                            - rembourser votre prêt à la consommation de manière anticipée.</br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-3">
                        <div class="card-group-custom card-group-classic" id="accordion3" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-6" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion3-collapse-6" aria-controls="accordion3-collapse-6" aria-expanded="true"> Mon épargne est-elle disponible à tout moment ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion3-collapse-6" role="tabpanel" aria-labelledby="accordion3-heading-6" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Oui, votre épargne est disponible quand vous le souhaitez.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion3-collapse-1" aria-controls="accordion3-collapse-1" aria-expanded="false">Quels sont les taux d'intérêt des livrets d'épargne ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion3-collapse-1" role="tabpanel" aria-labelledby="accordion3-heading-1" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>AIB deutsch vous propose un ensemble de solutions d'épargne personnalisées. Retrouvez toute notre gamme
                                            ainsi que les taux de rémunération.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion3-heading-7" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion3-collapse-7" aria-controls="accordion3-collapse-7" aria-expanded="false"> Comment transférer un compte épargne vers AIB deutsch ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion3-collapse-7" role="tabpanel" aria-labelledby="accordion3-heading-7" data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Vous avez la possibilité de transférer les comptes épargnes suivants : Plan Epargne Logement,
                                            Compte Epargne Logement, lignes de titres de Compte d'Instruments Financier et Plan Epargne Action.
                                            Il suffit de prévenir votre banque !
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="tabs-faq-4">
                        <div class="card-group-custom card-group-classic" id="accordion4" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion4-collapse-2" aria-controls="accordion4-collapse-2" aria-expanded="true">Que proposez-vous comme assurance ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion4-collapse-2" role="tabpanel" aria-labelledby="accordion4-heading-2" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p> Vous avez accès à toute l'offre de AIB deutsch en matière d'assurance :
                                            Assurance vie, Assurance auto, Assurance habitation.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-4" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion4-collapse-4" aria-controls="accordion4-collapse-4" aria-expanded="false"> Protégez-vous ma famille et moi-même contre les accidents de la vie ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion4-collapse-4" role="tabpanel" aria-labelledby="accordion4-heading-4" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>Vous vous êtes brulé, vous avez fait une chute à vélo... AIB deutsch vous aide à faire face
                                            aux aléas de la vie en vous proposant Protection Accidents de la vie.
                                            Ainsi, vous êtes couvert en cas d'accident de la vie courante. Hospitalisation, invalidité permanente,
                                            décès suite à un accident, un capital est versé à l'assuré ou à un bénéficiaire désigné.
                                            La souscription est simple, sans formalité médicale et la prise en compte est immédiate !
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion4-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion4-collapse-1" aria-controls="accordion4-collapse-1" aria-expanded="false">Comment dois-je procéder pour souscrire à Protection Accidents de la Vie ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion4-collapse-1" role="tabpanel" aria-labelledby="accordion4-heading-1" data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>Nous vous proposons d'être contacté par un spécialiste afin de
                                            choisir la formule et les options les mieux adaptées à vos besoins.
                                            Retrouvez le formulaire de rappel une fois connecté à votre espace client,
                                            dans la rubrique « Assurance ».
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-faq-5">
                        <div class="card-group-custom card-group-classic" id="accordion4" role="tablist" aria-multiselectable="false">
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-2" role="tab">
                                    <div class="card-title"><a class="card-link" role="button" data-toggle="collapse" href="#accordion5-collapse-2" aria-controls="accordion5-collapse-2" aria-expanded="true">Comment faire pour changer de carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse show" id="accordion5-collapse-2" role="tabpanel" aria-labelledby="accordion5-heading-2" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p> C'est simple, si vous souhaitez passer d'une carte à une autre, il suffit de nous fournir un nouveau justificatif de revenu
                                            via votre messagerie sous réserve des conditions d'éligibilité.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-4" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion5-collapse-4" aria-controls="accordion5-collapse-4" aria-expanded="false">Comment obtenir mon code secret de carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion5-collapse-4" role="tabpanel" aria-labelledby="accordion5-heading-4" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p>Le code secret de votre carte bancaire vous sera envoyé par courrier. Vous le recevrez dans un pli séparé de la carte bancaire
                                            dans un délai de quelques jours après l'ouverture de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-custom card-classic">
                                <div class="card-header" id="accordion5-heading-1" role="tab">
                                    <div class="card-title"><a class="card-link collapsed" role="button" data-toggle="collapse" href="#accordion5-collapse-1" aria-controls="accordion5-collapse-1" aria-expanded="false"> Quand et comment vais-je recevoir ma carte bancaire ?
                                            <div class="card-arrow"></div></a></div>
                                </div>
                                <div class="collapse" id="accordion5-collapse-1" role="tabpanel" aria-labelledby="accordion5-heading-1" data-parent="#accordion5">
                                    <div class="card-body">
                                        <p>Vous recevrez votre carte bancaire par courrier recommandé quelques jours après l'ouverture
                                            effective de votre compte AIB deutsch.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
